.post {
   max-width: 270px;
   padding: 20px;
   background-color: #eee;
   border-radius: 10px;
   transition: 0.1s;

   &:nth-child(odd) {
      margin-left: auto;
   }
   &:nth-child(even) {
      margin-right: auto;
   }

   &.favorite {
      background-color: #ffee58;
      & .post__button {
         background-color: #ff9800;
         color: #fff;
         border-color: #ffca28;
         &:hover {
            background-color: #fb8c00;
         }
         &:active {
            background-color: #f57c00;
         }
      }
   }
   &__title {
      font-size: 23px;
   }
   &__button {
      text-transform: uppercase;
      border-radius: 4px;
      background-color: #4fc3f7;
      border: 1px solid #42a5f5;
      font-size: 15px;
      cursor: pointer;
      padding: 7px 20px;
      transition: 0.1s;
      font-weight: bold;
      &:hover {
         background-color: #29b6f6;
      }
      &:active {
         background-color: #039be5;
      }
   }
}
@media all and (max-width: 750px) {
   .post {
      margin: 0 auto;
   }
}
