.all-cards-container {
   // margin: 0 auto;
   padding: 30px;
   font-size: 17px;
   overflow-y: auto;
   border: 3px solid red;
   display: grid;
   gap: 30px;
   grid-template-columns: 1fr 1fr;
}

@media all and (max-width: 950px) {
   .all-cards-container {
      gap: 15px;
      padding: 15px;
   }
}
@media all and (max-width: 750px) {
   .all-cards-container {
      // padding: 15px 0;
      grid-template-columns: 1fr;
      max-height: 60vh;
      // width: 100%;
   }
}
